/* FONT EFFECTS */
.font-effect-3d-one {
  text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135!important;
  color: #fff;
}
.font-effect-3d-two {
text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}
.font-effect-3d-float {
  text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1)!important;
  color: #fff;
}
.font-effect-anaglyph {
  text-shadow: -0.06em 0 #F00, 0.06em 0 #0FF!important;
}
.font-effect-brick-sign {
  -webkit-mask-image: url(../img/brick-sign.png);
  color: #600;
}
.font-effect-canvas-print {
  -webkit-mask-image: url(../img/canvas-print.png);
  color: #7A5C3E;
}
.font-effect-crackle {
  -webkit-mask-image: url(../img/crackle.png);
  color: #963;
}
.font-effect-decaying {
  -webkit-mask-image: url(../img/decaying.png);
  color: #958e75;
}
.font-effect-destruction {
  -webkit-mask-image: url(../img/destruction.png);
  color: red;
}
.font-effect-distressed {
  -webkit-mask-image: url(../img/distress-light.png);
  color: #306;
}
.font-effect-distressed-wood {
  -webkit-mask-image: url(../img/distressed-wood.png);
  color: #4d2e0d;
}
.font-effect-emboss {
  text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000!important;
  color: #ddd;
}
.font-effect-inset {
  background-color: #666666!important;-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;color: transparent!important;text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
.font-effect-fire {
  text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40!important;
  color: #ffe;
}
@-webkit-keyframes font-effect-fire-animation-keyframes {
  0% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  25% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.05em 0.17em #FE0, 0.04em -0.12em 0.22em #FC0, 0.04em -0.13em 0.27em #F90, 0.05em -0.23em 0.33em #F70, 0.07em -0.28em 0.47em #F70, 0.1em -0.3em 0.8em #F50, 0.1em -0.3em 0.9em #F40;
  }
  50% {    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  75% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.06em 0.18em #FE0, 0.05em -0.15em 0.23em #FC0, 0.05em -0.15em 0.3em #F90, 0.07em -0.25em 0.4em #F70, 0.09em -0.3em 0.5em #F70, 0.1em -0.3em 0.9em #F50, 0.1em -0.3em 1.0em #F40;
  }
  100% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
}
.font-effect-fire-animation {
  -webkit-animation-duration:0.8s;
  -webkit-animation-name:font-effect-fire-animation-keyframes;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  color: #ffe;
}
.font-effect-fragile {
  -webkit-mask-image: url(../img/fragile.png);
  color: #663;
}
.font-effect-grass {
  -webkit-mask-image: url(../img/grass.png);
  color: #390;
}
.font-effect-ice {
  -webkit-mask-image: url(../img/ice.png);
  color: #0cf;
}
.font-effect-mitosis {
  -webkit-mask-image: url(../img/mitosis.png);
  color: #600;
}
.font-effect-neon-blue {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #696fe0,0 0 0.6em #000be0, 0 0 0.8em #000be0, 0 0 1.0em #000be0, 0 0 1.2em #000be0!important;
  color: #fff;
}
.font-effect-neon-green {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #96b553,0 0 0.6em #7bb500, 0 0 0.8em #7bb500, 0 0 1.0em #7bb500, 0 0 1.2em #7bb500!important;
  color: #fff;
}
.font-effect-neon-orange {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #e8bb63,0 0 0.6em #e89a00, 0 0 0.8em #e89a00, 0 0 1.0em #e89a00, 0 0 1.2em #e89a00!important;
  color: #fff;
}
.font-effect-neon-pink {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f!important;
  color: #fff;
}
.font-effect-neon-red {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #e06969,0 0 0.6em #e00000, 0 0 0.8em #e00000, 0 0 1.0em #e00000, 0 0 1.2em #e00000!important;
  color: #fff;
}
.font-effect-neon-grey {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #a8a8a8,0 0 0.6em #5a5a5a, 0 0 0.8em #5a5a5a, 0 0 1.0em #5a5a5a, 0 0 1.2em #5a5a5a!important;
  color: #fff;
}
.font-effect-neon-black {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #7f7f7f,0 0 0.6em #000000, 0 0 0.8em #000000, 0 0 1.0em #000000, 0 0 1.2em #000000!important;
  color: #fff;
}
.font-effect-neon-white {
  text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
  color: #fff;
}
.font-effect-outline {
  text-shadow:0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000!important;
  color: #fff;
}
.font-effect-putting-green {
  -webkit-mask-image: url(../img/putting-green.png);
  color: #390;
}
.font-effect-scuffed-steel {
  -webkit-mask-image: url(../img/scuffed-steel.png);
  color: #acacac;
}
.font-effect-shadow-soft {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.font-effect-shadow-simple {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.font-effect-shadow-distant {
  text-shadow: 0px 3px 0px #b2a98f,0px 14px 10px rgba(0,0,0,0.15),0px 24px 2px rgba(0,0,0,0.1),0px 34px 30px rgba(0,0,0,0.1);
}
.font-effect-shadow-close-one {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);
}
.font-effect-shadow-close-two {
  text-shadow: 0 1px #808D93, -1px 0 #CDD2D5, -1px 2px #808D93, -2px 1px #CDD2D5, -2px 3px #808D93, -3px 2px #CDD2D5, -3px 4px #808D93, -4px 3px #CDD2D5, -4px 5px #808D93, -5px 4px #CDD2D5, -5px 6px #808D93, -6px 5px #CDD2D5, -6px 7px #808D93, -7px 6px #CDD2D5, -7px 8px #808D93, -8px 7px #CDD2D5;
}
.font-effect-shadow-multiple {
  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa!important;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
}
.font-effect-vintage-retro {
  text-shadow: 3px 3px 0px #eee, 5px 5px 0px #707070;
}
.font-effect-splintered {
  -webkit-mask-image: url(../img/splintered.png);
  color: #5a3723;
}
.font-effect-static {
  -webkit-mask-image: url(../img/static.png);
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #999999, 0 0 10px #000000!important;
  color: #343956;
}
.font-effect-stonewash {
  -webkit-mask-image: url(../img/stonewash.png);
  color: #343956;
}
.font-effect-vintage {
  -webkit-mask-image: url(../img/distress-medium.png);
  color: #db8;
}
.font-effect-wallpaper {
  -webkit-mask-image: url(../img/wallpaper.png);
  color: #9c7;
}

/* NOV 2020 => The rules below are now written inline */
/*
//Menu items first letter fix for the customizr theme
.wfc-reset-menu-item-first-letter .navbar .nav>li>a:first-letter {
  font-size: inherit;
}

//ICONS HIDING
.format-icon:before {
  color: #5A5A5A;
}
article .format-icon.tc-hide-icon:before, .safari article.format-video .format-icon.tc-hide-icon:before, .chrome article.format-video .format-icon.tc-hide-icon:before, .safari article.format-image .format-icon.tc-hide-icon:before, .chrome article.format-image .format-icon.tc-hide-icon:before, .safari article.format-gallery .format-icon.tc-hide-icon:before, .safari article.attachment .format-icon.tc-hide-icon:before, .chrome article.format-gallery .format-icon.tc-hide-icon:before, .chrome article.attachment .format-icon.tc-hide-icon:before {
  content: none!important;
}
h2#tc-comment-title.tc-hide-icon:before {
  content: none!important;
}
.archive .archive-header h1.format-icon.tc-hide-icon:before {
  content: none!important;
}
.tc-sidebar h3.widget-title.tc-hide-icon:before {
  content: none!important;
}
.footer-widgets h3.widget-title.tc-hide-icon:before {
  content: none!important;
}
.tc-hide-icon i, i.tc-hide-icon {
  display: none !important;
}

//CUSTOMIZR STYLE
.carousel-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-block a {
  font-size: 18px;
}
footer#footer .colophon .social-block a {
  font-size: 16px;
}
.social-block.widget_social a {
  font-size: 14px;
}
*/